button {
	margin: 1rem;
	color: #535bf2;
	border-radius: 8px;
	border: 1px solid black;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

#bish-bosh-text-display {
	overflow-y: scroll;
}

#bish-bosh-app {
	top: 50px;
	position: relative;
	display: flex;
	flex-flow: column;

	header {
		h1 {
			margin: 1rem;
		}
	}

	.intro-span {
		margin: 1rem;
		text-align: start;

		italic {
			font-style: italic;
		}
	}

	.button-wrapper {
		margin: 1rem;
	}

	#bish-bosh-text-display {
		width: 500px;
		height: 500px;
		border: 1px solid black;
	}

	#bish-bosh-container {
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;
	}
}
